tips_module/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="http://tempuri.org/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TipsGeneratorRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TipsGeneratorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="unbounded" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="TipsGeneratorSoapIn">
    <wsdl:part name="parameters" element="tns:TipsGeneratorRequest" />
  </wsdl:message>
  <wsdl:message name="TipsGeneratorSoapOut">
    <wsdl:part name="parameters" element="tns:TipsGeneratorResponse" />
  </wsdl:message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="TipsGeneratorSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="TipsGenerator">
      <wsdl:input message="tns:TipsGeneratorSoapIn" />
      <wsdl:output message="tns:TipsGeneratorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="TipsGeneratorServiceSoapBinding" type="tns:TipsGeneratorSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TipsGenerator">
      <soap:operation soapAction="TipsGenerator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TipsGeneratorServiceSoap12Binding" type="tns:TipsGeneratorSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TipsGenerator">
      <soap12:operation soapAction="TipsGenerator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- SERVICE:  -->
  <wsdl:service name="TipsGeneratorService">
    <wsdl:port name="TipsGeneratorServiceSoapPort" binding="tns:TipsGeneratorServiceSoapBinding">
      <soap:address location="http://localhost:8086/wsdl" />
    </wsdl:port>
    <wsdl:port name="TipsGeneratorServiceSoap12Port"
      binding="tns:TipsGeneratorServiceSoap12Binding">
      <soap12:address location="http://localhost:8086/wsdl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>